<footer>
  <section id="social-media" class="wrap-m zebra">
    <h4 class="social-title"><%- social_title %></h5>

    <div class="social-links">
      <a href="<%- social_discord_link %>" class="social-link" target="_blank" rel="nofollow">
        <div class="icon">
          <i class="fab fa-discord" title="Discord"></i>
        </div>
        <p class="name"><%- social_discord_name %></p>
        <p class="desc"><%- social_discord_desc %></p>
      </a>
      <a href="<%- social_reddit_link %>" class="social-link" target="_blank" rel="nofollow">
        <div class="icon">
          <i class="fab fa-reddit-square" title="Reddit"></i>
        </div>
        <p class="name"><%- social_reddit_name %></p>
        <p class="desc"><%- social_reddit_desc %></p>
      </a>
      <a href="<%- social_github_link %>" class="social-link" target="_blank" rel="nofollow">
        <div class="icon">
         <i class="fab fa-github-square" title="Github"></i>
        </div>
        <p class="name"><%- social_github_name %></p>
        <p class="desc"><%- social_github_desc %></p>
      </a>
    </div>
  </section>

  <div class="inline">
    <div>Copyright © <%- new Date().getFullYear() %></div>

    <div class="by">
      Made by <a href="https://github.com/somebeaver" target="_blank">somebeaver</a> 🌴
    </div>

    <div>
      <nav id="footer-nav">
        <a href="/<%- lang %>/terms-and-conditions"><%- footer_nav_toc %></a>
        <a href="/<%- lang %>/privacy-policy"><%- footer_nav_privacy_policy %></a>
      </nav>
    </div>
  </div>

  <div class="attributions">
    <span>Icons originally designed by 
      <a href="https://www.freepik.com" target="_blank" rel="nofollow" title="Freepik">Freepik</a>
      & 
      <a href="https://www.flaticon.com/authors/dinosoftlabs" target="_blank" rel="nofollow" title="DinosoftLabs">DinosoftLabs</a>
      from 
      <a href="https://www.flaticon.com/" target="_blank" rel="nofollow" title="Flaticon">www.flaticon.com</a>
    </span>
  </div>
</footer>