<footer>
  <div class="">Copyright © <%- new Date().getFullYear() %></div>

  <div class="by">
    Made by <a href="https://github.com/somebeaver" target="_blank">somebeaver</a> 🌴
  </div>

  <div>
    <nav id="footer-nav">
      <a href="/<%- lang %>/terms-and-conditions"><%- footer_nav_toc %></a>
      <a href="/<%- lang %>/privacy-policy"><%- footer_nav_privacy_policy %></a>
    </nav>
  </div>

  <div class="attributions">
    <span>Icons originally designed by <a href="https://www.freepik.com" target="_blank" rel="nofollow" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" rel="nofollow" title="Flaticon">www.flaticon.com</a></span>
  </div>
</footer>