<header id="site-header">
  <div class="wrap-xl">
    <div class="left">
      <div id="logo" title="<%= home_title %>">
        <a href="/<%- lang %>">
          <img src="/logotype-light.svg" alt="<%- logo_alt %>" title="<%- logo_title %>">
        </a>
      </div>
    </div>

    <div class="right">
      <nav class="pages">
        <ul>
          <li class="has-dropdown">
            <span class="top-level-item"><%- menu_apps %></span>
            <ul class="dropdown">
              <li>
                <a href="/<%- lang %>/cardinal-server" class="second-level-item">
                  <img src="/icons/logo-server.svg" alt="<%- app_name_server %>">
                  <span><%- app_name_server %></span>
                </a>
              </li>
              <li>
                <a href="/<%- lang %>/cardinal-music" class="second-level-item">
                  <img src="/icons/logo-music.svg" alt="<%- app_name_music %>">
                  <span><%- app_name_music %></span>
                </a>
              </li>
              <li>
                <a href="javascript:;" class="second-level-item">
                  <img src="/icons/logo-photos.svg" alt="<%- app_name_photos %>">
                  <span><%- app_name_photos %><span class="cs">Coming soon - 2022</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:;" class="second-level-item">
                  <img src="/icons/logo-cinema.svg" alt="<%- app_name_cinema %>">
                  <span><%- app_name_cinema %><span class="cs">Coming soon</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:;" class="second-level-item">
                  <img src="/icons/logo-books.svg" alt="<%- app_name_books %>">
                  <span><%- app_name_books %><span class="cs">Coming soon</span></span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/<%- lang %>/getting-started" class="top-level-item"><%- menu_getting_started %></a>
          </li>
          <li>
            <a href="https://help.cardinalapps.xyz" target="_blank" class="top-level-item"><%- menu_help %></a>
          </li>
        </ul>
      </nav>

      <!-- <div class="lang-switcher">
        <span class="current-lang">
          <%- current_lang_prefix %><%- lang %>
        </span>

        <div class="all-langs">
          <a href="/en">English</a>
          <a href="/fr">Français</a>
        </div>
      </div> -->

      <div class="theme-switcher" title="<%= nav_theme_switcher_title %>">
        <div class="svg--" data-src="/icons/sun.svg"></div>
      </div>

      <nav class="social-icons">
        <a href="<%- social_discord_link %>" class="social-link" target="_blank" rel="nofollow">
          <i class="fab fa-discord" title="Discord"></i>
        </a>
        <!-- <a href="<%- social_reddit_link %>" class="social-link" target="_blank" rel="nofollow">
          <i class="fab fa-reddit-square" title="Reddit"></i>
        </a> -->
        <a href="<%- social_github_link %>" class="social-link" target="_blank" rel="nofollow">
          <i class="fab fa-github-square" title="GitHub"></i>
        </a>
      </nav>
      
      <button id="hamburger" type="button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</header>