<!doctype html>
<html lang="<%- lang %>">
  <head>
    <%- include('includes/bird.ejs') %>
    
    <title><%= cardinal_server_page_title %></title>
    <meta name="description" content="<%- cardinal_server_page_desc %>">
    
    <meta property="og:title" content="<%= cardinal_server_page_title %>">
    <meta property="og:description" content="<%- cardinal_server_page_desc %>">
    <meta property="og:url" content="https://cardinalapps.xyz/cardinal-server/<%- lang %>">

    <link rel="canonical" href="https://cardinalapps.xyz/cardinal-server/<%- lang %>">

    <%- include('includes/head.ejs') %>
  </head>
  
  <body>
    <%- include('includes/header.ejs') %>

    <section id="single-app-top" class="first landing">
      <div class="wrap-m">
        <h1 class="inner"><%- cardinal_server_title %></h1>
        <h2 class="inner"><%- cardinal_server_subtitle %></h1>

        <div class="buttons">
          <%- include('includes/buttons/server-macos.ejs') %>
          <%- include('includes/buttons/server-windows.ejs') %>
        </div>
      </div>
    </section>

    <section id="app-features">
      <div class="wrap-m">

        <div class="feature">
          <div class="info">
            <h3 class="title"><%- cardinal_server_feature_1_title %></h3>
            <div class="desc"><%- cardinal_server_feature_1_desc %></div>
          </div>
          <div class="screenshot">
            <img src="/screenshots/server-overview.png" alt="Screenshot">
          </div>
        </div>

        <div class="feature flip">
          <div class="info">
            <h3 class="title"><%- cardinal_server_feature_2_title %></h3>
            <div class="desc"><%- cardinal_server_feature_2_desc %></div>
          </div>
          <div class="screenshot">
            <img src="/screenshots/server-index.png" alt="Screenshot">
          </div>
        </div>

        <div class="feature">
          <div class="info">
            <h3 class="title"><%- cardinal_server_feature_3_title %></h3>
            <div class="desc"><%- cardinal_server_feature_3_desc %></div>
          </div>
          <div class="screenshot">
            <img src="/screenshots/server-devices.png" alt="Screenshot">
          </div>
        </div>

      </div>
    </section>

    <section id="more-features">
      <div class="wrap-s">
        <h2 class="title"><%- more_app_features %></h2>
        <ul><%- cardinal_server_extra_features %></ul>

        <div class="back-to-top">
          <a href="#top" class="btn"><%- download_now %></a>
        </div>
      </div>
    </section>
    
    <%- include('includes/footer.ejs') %>
  </body>

  <%- include('includes/after-body-script.ejs') %>
</html>