<!doctype html>
<html lang="<%- lang %>">
  <head>
    <%- include('includes/bird.ejs') %>
    
    <title><%= cardinal_server_page_title %></title>
    <meta name="description" content="<%- cardinal_server_page_desc %>">
    
    <meta property="og:title" content="<%= cardinal_server_page_title %>">
    <meta property="og:description" content="<%- cardinal_server_page_desc %>">
    <meta property="og:url" content="https://cardinalapps.xyz/cardinal-server/<%- lang %>">

    <link rel="canonical" href="https://cardinalapps.xyz/cardinal-server/<%- lang %>">

    <%- include('includes/head.ejs') %>
  </head>
  
  <body data-os="<%- os %>">
    <%- include('includes/header.ejs') %>

    <section id="landing" class="first">
      <div class="wrap-l">
        <h1 class="inner"><%- cardinal_server_title %></h1>
        <h2 class="inner"><%- cardinal_server_subtitle %></h1>

        <div class="buttons">
          <%- include('includes/buttons/server-macos.ejs') %>
          <%- include('includes/buttons/server-windows.ejs') %>
          <%- include('includes/buttons/server-linux.ejs') %>
        </div>
      </div>
    </section>

    <section id="app-features" class="s">
      <div class="wrap-l">

        <h3 class="s-title"><%- cardinal_server_features_title %></h3>

        <div class="feature">
          <div class="info">
            <div class="inner">
              <h3 class="title"><%- cardinal_server_feature_1_title %></h3>
              <div class="desc"><%- cardinal_server_feature_1_desc %></div>
            </div>
          </div>
          <div class="screenshot">
            <a href="/screenshots/server-overview.png" target="_blank">
              <img src="/screenshots/thumbs/server-overview.png" alt="Screenshot">
            </a>
          </div>
        </div>

        <div class="feature flip">
          <div class="info">
            <div class="inner">
              <h3 class="title"><%- cardinal_server_feature_2_title %></h3>
              <div class="desc"><%- cardinal_server_feature_2_desc %></div>
            </div>
          </div>
          <div class="screenshot">
            <a href="/screenshots/server-index-running.png" target="_blank">
              <img src="/screenshots/thumbs/server-index-running.png" alt="Screenshot">
            </a>
          </div>
        </div>

        <div class="feature">
          <div class="info">
            <div class="inner">
              <h3 class="title"><%- cardinal_server_feature_3_title %></h3>
              <div class="desc"><%- cardinal_server_feature_3_desc %></div>
            </div>
          </div>
          <div class="screenshot">
            <a href="/screenshots/server-devices.png" target="_blank">
              <img src="/screenshots/thumbs/server-devices.png" alt="Screenshot">
            </a>
          </div>
        </div>

        <div class="feature flip">
          <div class="info">
            <div class="inner">
              <h3 class="title"><%- cardinal_server_feature_4_title %></h3>
              <div class="desc"><%- cardinal_server_feature_4_desc %></div>
            </div>
          </div>
          <div class="screenshot">
            <a href="/screenshots/server-index.png" target="_blank">
              <img src="/screenshots/thumbs/server-index.png" alt="Screenshot">
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="s full-feature">
      <h2 class="s-title"><%- cli_app_title %></h2>

      <div class="cols">
        <div class="desc">
          <div class="box">
            <h2 class="subtitle"><%- cli_app_subtitle %></h2>
            <%- cli_app_desc %>
            <div class="controls">
              <%- include('includes/buttons/server-cli.ejs') %>
            </div>
          </div>
        </div>

        <div class="screenshot" style="background-image: url('/screenshots/cli.png');"></div>
      </div>
    </section>

    <section id="more-features">
      <div class="wrap-s">
        <h2 class="title"><%- more_app_features %></h2>
        <ul><%- cardinal_server_extra_features %></ul>

        <div class="back-to-top">
          <a href="#top" class="btn"><%- download_now %></a>
        </div>
      </div>
    </section>
    
    <%- include('includes/footer.ejs') %>
  </body>

  <%- include('includes/after-body-script.ejs') %>
</html>