<!doctype html>
<html lang="<%- lang %>">
  <head>
    <%- include('includes/bird.ejs') %>
    
    <title><%= home_title %></title>
    <meta name="description" content="<%- home_meta_desc %>">
    
    <meta property="og:title" content="<%= home_title %>">
    <meta property="og:description" content="<%- home_meta_desc %>">
    <meta property="og:url" content="https://cardinalapps.xyz/<%- lang %>">

    <link rel="canonical" href="https://cardinalapps.xyz/<%- lang %>">

    <%- include('includes/head.ejs') %>
  </head>
  
  <body data-os="<%- os %>">
    <%- include('includes/header.ejs') %>

    <section id="landing" class="s">
      <div class="wrap-l">
        <h1><%- landing_line_1 %></h1>
        <div class="landing-desc"><%- landing_line_desc %></div>
      </div>
    </section>

    <section id="downloads" class="wrap-l s">
      <h3><%- downloads_box_title %></h3>

      <div class="subtitle-notices">
        <p class="early-access"><%- early_access_notice %></p>
        <p class="download-agreement"><%- download_agreement %></p>
      </div>

      <div class="items">

        <!-- server -->
        <div class="item">
          <div class="icon">
            <img src="/icons/logo-server.svg" alt="<%- server_icon_alt %>" title="<%- server_icon_title %>">
          </div>
          <div class="meta">
            <h4 class="name"><%- app_name_server %></h4>
            <p class="description"><%- downloads_server_desc %></p>
            <ul class="features">
              <%- downloads_server_features %>
            </ul>
          </div>
          <div class="platforms">
            <div class="all"><a href="/<%- lang %>/cardinal-server"><%- downloads_server_all %></a></div>
            <%- include('includes/buttons/server-macos.ejs') %>
            <%- include('includes/buttons/server-windows.ejs') %>
            <a href="<%- lang %>/cardinal-server" class="btn">
              <%- all_platforms %>
            </a>
          </div>
        </div>

        <!-- music -->
        <div class="item">
          <div class="icon">
            <img src="/icons/logo-music.svg" alt="<%- music_icon_alt %>" title="<%- music_icon_title %>">
          </div>
          <div class="meta">
            <h4 class="name"><%- app_name_music %></h4>
            <p class="description"><%- downloads_music_desc %></p>
            <ul class="features">
              <%- downloads_music_features %>
            </ul>
          </div>
          <div class="platforms">
            <div class="all"><a href="/<%- lang %>/cardinal-music"><%- downloads_music_all %></a></div>
            <%- include('includes/buttons/music-macos.ejs') %>
            <%- include('includes/buttons/music-windows.ejs') %>
            <a href="<%- lang %>/cardinal-music" class="btn">
              <%- all_platforms %>
            </a>
          </div>
        </div>

        <!-- photos -->
        <div class="item in-development">
          <div class="icon">
            <img src="/icons/logo-photos.svg" alt="<%- photos_icon_alt %>" title="<%- photos_icon_title %>">
          </div>
          <div class="meta">
            <h4 class="name"><%- app_name_photos %></h4>
            <p class="description"><%- downloads_photos_desc %></p>
            <ul class="features">
              <%- downloads_photos_features %>
            </ul>
          </div>
          <div class="platforms">
            <p><%- in_development %></p>
          </div>
        </div>

        <!-- movies & tv -->
        <div class="item in-development">
          <div class="icon">
            <img src="/icons/logo-cinema.svg" alt="<%- cinema_icon_alt %>" title="<%- cinema_icon_title %>">
          </div>
          <div class="meta">
            <h4 class="name"><%- app_name_cinema %></h4>
            <p class="description"><%- downloads_cinema_desc %></p>
            <ul class="features">
              <%- downloads_cinema_features %>
            </ul>
          </div>
          <div class="platforms">
            <p><%- development_planned %></p>
          </div>
        </div>

        <!-- books -->
        <div class="item in-development">
          <div class="icon">
            <img src="/icons/logo-books.svg" alt="<%- books_icon_alt %>" title="<%- books_icon_title %>">
          </div>
          <div class="meta">
            <h4 class="name"><%- app_name_books %></h4>
            <p class="description"><%- downloads_books_desc %></p>
            <ul class="features">
              <%- downloads_books_features %>
            </ul>
          </div>
          <div class="platforms">
            <p><%- development_planned %></p>
          </div>
        </div>

      </div>
    </section>

    <section id="global-features" class="s">
      <div class="wrap-m">

        <h3 class="s-title"><%- global_features_title %></h3>

        <!-- collectors -->
        <div class="feature">
          <div class="text">
            <h3><%- global_features_curators_title %></h3>
            <div class="desc">
              <%- global_features_curators_desc %>
            </div>
          </div>

          <div class="icon">
            <div class="box"><i class="fas fa-box-open"></i></div>
          </div>
        </div>

        <!-- platformless -->
        <div class="feature">
          <div class="text">
            <h3><%- global_features_platformless_title %></h3>
            <div class="desc">
              <%- global_features_platformless_desc %>
            </div>
          </div>

          <div class="icon">
            <div class="box"><i class="fas fa-plane-departure"></i></div>
          </div>
        </div>

        <!-- oneserver -->
        <div class="feature">
          <div class="text">
            <h3><%- global_features_oneserver_title %></h3>
            <div class="desc">
              <%- global_features_oneserver_desc %>
            </div>
          </div>

          <div class="icon">
            <div class="box"><i class="fas fa-ring"></i></div>
          </div>
        </div>

        <!-- custom -->
        <div class="feature">
          <div class="text">
            <h3><%- global_features_custom_title %></h3>
            <div class="desc">
              <%- global_features_custom_desc %>
            </div>
          </div>

          <div class="icon">
            <div class="box"><i class="fas fa-person-booth"></i></div>
          </div>
        </div>
      </div>
    </section>

    <section id="core-values" class="wrap-m s">
      <h3><%- all_apps_features_title %></h3>
      <div class="core-value-list">

        <div class="core-value">
          <h5 class="name">
            <span><%- all_apps_features_privacy_title %></span>
            <i class="fas fa-user-lock"></i>
          </h5>
          <div class="info"><%- all_apps_features_privacy_desc %></div>
        </div>

        <div class="core-value">
          <h5 class="name">
            <span><%- all_apps_features_adfree_title %></span>
            <i class="fas fa-cloud-sun"></i>
          </h5>
          <div class="info"><%- all_apps_features_adfree_desc %></div>
        </div>

        <div class="core-value">
          <h5 class="name">
            <span><%- all_apps_features_honest_title %></span>
            <i class="fas fa-parachute-box"></i>
          </h5>
          <div class="info"><%- all_apps_features_honest_desc %></div>
        </div>

        <div class="core-value">
          <h5 class="name">
            <span><%- all_apps_features_offline_title %></span>
            <i class="fas fa-broadcast-tower"></i>
          </h5>
          <div class="info"><%- all_apps_features_offline_desc %></div>
        </div>

      </div>
    </section>
    
    <%- include('includes/footer.ejs') %>
  </body>

  <%- include('includes/after-body-script.ejs') %>
</html>