<!doctype html>
<html lang="<%- lang %>">
  <head>
    <%- include('includes/bird.ejs') %>

    <title><%= pp_page_title %></title>
    <meta name="description" content="<%- pp_meta_desc %>">

    <meta property="og:title" content="<%= pp_page_title %>">
    <meta property="og:description" content="<%- pp_meta_desc %>">
    <meta property="og:url" content="https://echoesapp.ca/<%- lang %>/privacy-policy">

    <link rel="canonical" href="https://echoesapp.ca/<%- lang %>/privacy-policy">

    <%- include('includes/head.ejs') %>
  </head>
  
  <body>
    <%- include('includes/header.ejs') %>

    <section id="privacy-policy" class="wrap-m first">
      <h2 class="section-title"><%- pp_title %></h2>

      <%- pp_body %>
    </section>

    <%- include('includes/footer.ejs') %>
  </body>

  <%- include('includes/after-body-script.ejs') %>
</html>